# Available values: development | production
NODE_ENV = development

APP_PORT = 3030

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_DATABASE=actinium_dev
DB_SSL=false

# JWT variables
JWT_ACCESS_TOKEN_SECRET = mysecretkey
JWT_ACCESS_TOKEN_EXPIRES_IN = 2h
# 2 hours in seconds
JWT_ACCESS_TOKEN_MAX_AGE = 7200

# App specific variables
CUSTOMER_PREFIX = ACT
CUSTOMER_NUMBER_LENGTH = 4
ORDER_NUMBER_PREFIX = ACT
ORDER_NUMBER_LENGTH = 4
INVOICE_NUMBER_PREFIX = RE
DELIVERY_NOTE_NUMBER_PREFIX = LS

# SMTP specific variables
EMAIL_SERVER_HOST = http://example.com
EMAIL_SERVER_PORT = 587
EMAIL_SERVER_USERNAME = user@example.com
EMAIL_SERVER_PASSWORD = password
EMAIL_SERVER_VERIFIED_EMAIL=

#FTP
FTP_HOST=localhost
FTP_USERNAME=username
FTP_PASSWORD=mypass
FTP_SECURED=false
FTP_PORT=21

IMPORT_ORDER_ERROR_EMAILS=
